<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <div id="footerPage" class="row footer">
        <link th:href="@{/custom/pc/css/footer.css}" href="../../../custom/pc/css/footer.css" rel="stylesheet">
        <div class="footer-top">
            <div class="center-content">
                <p>© CopyRight 2018&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://jgyhw.com.cn/">送券喵</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备18044765号</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.jd.com/" target="_blank">京东商城</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.pinduoduo.com/" target="_blank">拼多多商城</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.taobao.com/" target="_blank">淘宝网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.tmall.com/" target="_blank">天猫商城</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="http://localhost:8080/manage/" target="_blank">管理员入口</a>
                </p>
            </div>
        </div>
        <div class="footer-centre" style="display: none;">

        </div>
    </div>
</html>