<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>参数配置</title>
</head>
<div th:replace="base/import-common.html :: #importPage-xtgl"></div>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--页头-->
    <div th:replace="xtgl/top.html :: #topPage"></div>

    <!--左侧菜单-->
    <div th:replace="xtgl/menu.html :: #menuPage"></div>

    <!--内容主体区域-->
    <div class="layui-body" style="margin: 10px;">
        <form class="layui-form">
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">参数名称：</label>
                    <div class="layui-input-block">
                        <input id="parameterName" type="text" name="parameterName" placeholder="请输入参数名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <label class="layui-form-label">参数类型：</label>
                    <div class="layui-input-block">
                        <select id="parameterType" name="parameterType">
                            <option value="">全部参数</option>
                            <option th:value="${CONFIGURATION_GROUP_XT}">系统参数</option>
                            <option th:value="${CONFIGURATION_GROUP_WX}">微信参数</option>
                            <option th:value="${CONFIGURATION_GROUP_JD}">京东参数</option>
                            <option th:value="${CONFIGURATION_GROUP_PDD}">拼多多参数</option>
                            <option th:value="${CONFIGURATION_GROUP_TB}">淘宝参数</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="search">查询</button>
                        <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button id="lookParamMap" class="layui-btn layui-btn-normal">查看内存参数</button>
                    </div>
                </div>
            </div>
        </form>

        <!--表格头部工具栏模板-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            </div>
        </script>
        <table id="parameterSettingTable" class="layui-table" lay-filter="parameterSettingTable">

        </table>
    </div>
    <!--页脚-->
    <div th:replace="xtgl/footer.html :: #footerPage"></div>
</div>
<div th:replace="base/import-common.html :: commonJs-pc"></div>
<script th:src="@{/scripts/xtgl/parameterSettingList.js(v='2018111301')}"></script>
</body>
</html>