<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.jgyhw.sqm.mapper.WxTokenMapper">
  <resultMap id="BaseResultMap" type="cn.com.jgyhw.sqm.domain.WxToken">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_type" jdbcType="INTEGER" property="tokenType" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, token, token_type, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_token
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wx_token
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.jgyhw.sqm.domain.WxToken">
    insert into wx_token (id, app_id, token, 
      token_type, update_time)
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{tokenType,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jgyhw.sqm.domain.WxToken">
    insert into wx_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokenType != null">
        token_type,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        #{tokenType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jgyhw.sqm.domain.WxToken">
    update wx_token
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        token_type = #{tokenType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jgyhw.sqm.domain.WxToken">
    update wx_token
    set app_id = #{appId,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      token_type = #{tokenType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectWxTokenByAppIdAndTokenType" resultType="cn.com.jgyhw.sqm.domain.WxToken">
    select * from wx_token where app_id = #{appId} and token_type = #{tokenType}
  </select>

  <select id="selectWxTokenAll" resultType="cn.com.jgyhw.sqm.domain.WxToken">
    select * from wx_token order by update_time
  </select>
</mapper>