<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>消息订阅</title>

    <!-- 引入 WeUI -->
    <link rel="stylesheet" th:href="@{/common/library/weui/style/weui.min.css}" href="../../../../common/library/weui/style/weui.min.css">
</head>
<body th:style="'background-color: #fff;'" style="width:320px;height: 598px;margin-left:auto;margin-right:auto;">
<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">订阅成功</h2>
            <p class="weui-msg__desc">成功订阅订单/提现申请状态变更通知</p>
        </div>
    </div>
</div>
</body>
</html>